.container {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #888;
  color: #fff;

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 8px;
  }

  .time {
    font-family: monospace;
  }
}

.controls {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0 16px;
}

.tracks {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.track {
  display: flex;
  gap: 16px;
}

.add {
  display: flex;
  padding: 16px 0;
  gap: 16px;
}
